@charset "UTF-8";

body{
    background-color: rgb(178, 224, 178);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
color: rgb(4, 78, 4);
}

#Principal{
text-align: center;
color: burlywood;
background-color: aquamarine;
border-radius: 20px;
}

h2{
color: rgb(58, 131, 58);
}

.basico{
    color: rgb(58, 131, 58);
    font-weight: bold;
}

.intermediario{
    color: rgb(120, 131, 58);
}

.avançado{
    color: rgb(131, 58, 58);
}